.filter-view {
    width: 200px;
    height: 150px;

    position: fixed;
    right: 10px;
    top: 10px;
    /* display: inline-block; */
}

.show {
    top:0px;
    transition: top 1s;
}

.hide {
    top: -130px;
    transition: top 1s;
}

.filter-view .filter-tags-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.filter-view .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    margin-bottom: 0.5em;
}