.jiggle-container {
    width: 100%;
    height: 100%;
    /* background-color: orange; */

}

.jiggle-div {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    margin: auto;
    z-index: 10;
}

.overlay-div {
    width: 100%;
    height: 100%;
    /* z-index: 10; */
    opacity: 0%;
    position: relative;
    top: -180px;
}