.blog-page {
    /* margin: 2em 5em; */
}

.blog-page-content {
    display: flex;
    flex-direction: row;

    /* display: flex; */
    overflow: hidden;
    height: 100vh;
    /* margin-top: -100px;
    padding-top: 100px; */
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}