.blog-page {
    position: relative;
    left: 0px;
    width: 50%;
    /* margin: auto; */
    background-color:  #e39774;
    /* margin: 2em 5em; */
}

.blog-page-content {
    overflow: auto; 
    height: 100vh;
    backface-visibility: hidden;
    will-change: overflow;
}