.blog-page {
    position: relative;
    /* left: 33%; */
    width: 70%;
    margin: auto;
    /* background-color:  #e39774; */
    /* margin: 2em 5em; */
}

.blog-page-content {
    /* overflow: auto; 
    height: 100vh;
    backface-visibility: hidden;
    will-change: overflow; */
}

.blog-page .blog-title {
    margin-bottom: 2em;
    text-align: center;
}