.blog-post {
    /* border: 1px solid black; */
    /* margin: 1em; */
    margin-bottom: 10px;
    width: 100%;
    /* background-color: #eeeeee; */
    position: relative;
    /* margin: auto; */
    /* padding: 1em; */
    
    overflow: hidden;
    transition: transform 0.5s;
    transform: scale(1);

    /* border: 1px solid grey; */
}

.blog-post:hover {
    transition: all 0.35s;
    /* width: 105%;
    height: 105%; */
    transform: scale(1.04);
}

.blog-title {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

.blog-date {
    position: relative;
    display: inline-block;
    font-size: 12px;
}

.blog-tags {
    position: relative;
    right: 0px;
}

.full-post-link {
    height: 100px;
    /* width:50%; */
    position: relative;
    /* bottom: 50px; */
    opacity: 0.8;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(235,235,235,1) 100%); 
}

.full-post-link:hover {
    cursor: pointer;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(226,226,226,1) 100%); 
}

.blog-header {
    display: flex;
    align-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.inner-blog{
    padding: 0px 10px ;
    max-height: 250px;
}

.inner-blog h1 {
    font-size: 20px;
}

.blog-post img {
    width: 50%;
    margin: auto;
}