.blog-post {
    margin-bottom: 1em;
}

.blog-post .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.blog-post .title {
    font-size: 18px;
    /* font-style: oblique;
    font-weight: bold; */
}

.blog-post .showmore {
    left: 0%;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
}


.blog-post .post-preview img{
    max-width: 50%;
}

.blog-post .post-preview.hide {
    transition: all 1s;
    height: 0px;
}

.blog-post .post-preview.show {
    transition: all 1s;
    height: 300px;
}

.blog-post .post-preview {
    max-height: 300px;
    overflow: hidden;
}

.blog-post .tags {
    font-size: 12px;
}