.blog-post {
    margin-bottom: 1em;
}

.blog-post .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.blog-post .title {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.blog-post .tags {

}