.side-bar {
    width: 25%;
    height: 100vh;
}

.nav-square {
    position: relative;
    top: 10px;
    width: 95%;
    margin: auto;
    background-color: aquamarine;
}

.box {
    width: 10px;
    height: 10px;
    background-color: black;
}

.sitelinks {
    z-index: 99;
    position: fixed;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    
}
.sitelinks Link {
    text-decoration: overline;
    color: #4e4e50;
}

@media (max-width: 991px) {
    .side-bar {
        width: 0px;
    }
}