/* .app {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
} */
.app {
    height: 100%;
    /* position: relative; */
    width: 100%;
    font-family: "Roboto Mono", stack-mono, monospace;
    background-color: #f5f5f5;
}

#root {
    position: relative;
    top: 0px;
}

.hoverable-show {
    display: inline-block;
}

.hoverable-hide {
    display: none;
}

.dark-bg {
    background-color: #1a1a1d;
}

.grey-bg {
    background-color: #4e4e50;
}

.blue-bg {
    background-color: #087e8b;
}

.red-bg {
    background-color: #ff5a5f;
}

.white-bg {
    background-color: #f5f5f5;
}

.dark-text {
    color: #1a1a1d;
}

.grey-text {
    color: #4e4e50;
}

.blue-text {
    color: #087e8b;
}

.red-text {
    color: #ff5a5f;
}

.white-text {
    color: #f5f5f5;
}

body {
    top: 0px;
    margin: 0;
    overflow-x: hidden;
}

@media (max-width: 991px) {

}