/* .app {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
} */
.app {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    font-family: Arial, Helvetica, sans-serif;
}

.sapphire {
    background-color: #11557f;
}

.cadet {
    background-color: #5c9ead;
}

.white {
    background-color: #ffffff;
}

.isabelline {
    background-color: #eeeeee;
}

.middlered {
    background-color: #e39774;
}

body {
    margin: 0;
    overflow-x: hidden;
}