/* .app {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
} */
.app {
    height: 100%;
    /* position: relative; */
    width: 100%;
    font-family: "Roboto Mono", stack-mono, monospace;
    background-color: #f5f5f5;
}

#root {
    position: relative;
    top: 0px;
}

.hoverable-show {
    display: inline-block;
}

.hoverable-hide {
    display: none;
}

.dark {
    background-color: #1a1a1d;
}

.grey {
    background-color: #4e4e50;
}

.blue {
    background-color: #087e8b;
}

.red {
    background-color: #ff5a5f;
}

.white {
    background-color: #f5f5f5;
}

body {
    top: 0px;
    margin: 0;
    overflow-x: hidden;
}

@media (max-width: 991px) {

}