.tag {
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    margin: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tag-view {
    display: flex;
    flex-direction: column;
}

.tag:hover {
    background-color: white;
}